.form-field {
  display: block;
  margin: 10px auto;
}

.form_age {
  max-width: 65px;
}

.fieldset {
  margin: 20px auto;
}

.form_inline {
  display: inline;
}

.top {
  margin-top: 1px;
}

.bottom {
  margin-bottom: 1px;
}
